<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

            <form method="post" class="jumbotron" style="margin-top:5%;">{% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                Email:<input type="email" name="email"><br><br>
                {{alert}}
                Pin:<input type="password" name="pin"><br>
                <br>

                <input type="submit" value="Login" class="btn btn-primary btn-lg">


            </form>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
</body>
</html>